body{
    background-color: #BDDDFC;

    .top_navigation{
        background-color: #6A89A7;
    overflow: hidden;
   width: 100%;
        top :0%;
        left: 0%;
        position: fixed;
    height: 45px;
}
    .top_navigation a{
        color: #88BDF2;
        text-align: center;
        padding: 24px;
        margin: 0;
        text-decoration: none;
        font-size: 24px;
        transition: 0.15s;
        font-family: 'verdana';
     
    }
    .content{
        max-width: 1100px;
        margin: auto;
        padding: 20px;
    }

    .school{
        width: 250px;
        height: 120px;
        padding-top: 60px;
    }


    .top_navigation a:hover{
        background-color: #384959;
        color: #BDDDFC;
    }

    .top_navigation a:active{
        background-color: #88BDF2;
        color: #6A89A7;
    }

    .HEADING{
        color: #6A89A7;
        font-size: 80px;
        padding: 40px;
    }

    .about_me{
        color: #384959;
        padding: 40px;
        font: Verdana;
        font-size: 40px;
        
        
    }

    .web_image{
        width: 550px;
        height: 300px;
        border-style: double;
        padding: 60px;
        align: center;
        
    }
}